    body {
        background-size: cover;
        margin: 0 !important;
        background-size: 100% cover!important;
        display: block;
    } 

    .postTitle{
        font-weight: bold;
        font-size: x-large;
        background-color: white;
        border-color: pink;
        word-wrap: break-word;
        position: relative;
          
    }

    .postTitle:focus{
        box-shadow: none;
        border-color: pink ;
    }


    .PostDescription{
        overflow: hidden;
        padding: 2%;
        position: relative;
        
    }
    
    .authorName{
        float: left;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: lighter;
        
    }

    .editButton{
        float: right;
    }

    #postTitleInput{
        padding: 0px;
        margin-bottom: 1rem;
        height: 36px;
        
    }

    #postContentInputId{
        padding: 0px;
        margin-bottom: 1rem;
        box-shadow: none;
        border-color: pink ;
        display: block; 
        overflow: hidden; 
        resize: none;
    }


    #postLikeButton{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    #commentButton{
        margin-top: 1%;
        margin-bottom: 1%;
    }

  
    #comment-display{
        margin-bottom: 5%;
    }
    .commentDisplay{
        
        background-color: white;
        border-color: #E0E0E0 ;
        border-style:  solid ;
        border-width:8px ;
        border-top-width:15px !important ;
        border-bottom-width: 15px;
        
        padding: 1%;
        width: 67%;
        margin: 0px;
        overflow: hidden;

    }