
.header{
    overflow: hidden;
    padding: 5px;
}

.title{
    font-family: 'Montez', cursive;
    color:blue;
    font-size: 38px;
    margin-bottom: 0px;
    font-weight: bold;
}

.subTitle{
    font-family: 'Ubuntu Mono', monospace;
    font-size: smaller;
    font-weight: bold;
}

.headerLeft{
    float: left;
}
.headerRight{
    float: right;
    margin: 1%;
}

#buttonForSignIn{
    margin-left: 10px;
}
